version: '3.4'

services:
  kegelVerwaltung:
    build: .
    #image: registry.mnl-fhrn.de/lsrg/camerawebsite:latest
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true        # docker run -t

    volumes:
     # - ./data/logs:/logs:rw
     # - ./data/config:/config:ro
     # - /etc/localtime:/etc/localtime:ro
    #ports:
    #  - 5020:8000
    environment:
      - TZ="Europe/Berlin"
    #command: python app.py

    command: gunicorn -w 1
            -b :8000 app:app \
            --access-logfile ./logs/log.txt \
            --log-level info \
            --timeout 90 \
            --workers 25 \
            --worker-class gevent \
            --debug=True
            

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kegelVerwaltung.rule=Host(`kegeln.domain.de`)"
      - "traefik.http.routers.kegelVerwaltung.entrypoints=websecure"
      - "traefik.http.services.kegelVerwaltung.loadbalancer.server.port=8000"
      - "traefik.http.routers.kegelVerwaltung.service=kegelVerwaltung"
      - "traefik.http.routers.kegelVerwaltung.tls.certresolver=production"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
