version: '3.4'

services:
  kegel-verwaltung:
    build: .
    restart: unless-stopped
    stdin_open: true # docker run -i
    tty: true        # docker run -t

    volumes:
      - ./data/logs:/logs:rw
      - ./data/config:/config:ro
      - /etc/localtime:/etc/localtime:ro
     
    environment:
      - TZ="Europe/Berlin"
           
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kegelVerwaltung.rule=Host(`kegeln.domain.de`)"
      - "traefik.http.routers.kegelVerwaltung.entrypoints=websecure"
      - "traefik.http.services.kegelVerwaltung.loadbalancer.server.port=8000"
      - "traefik.http.routers.kegelVerwaltung.service=kegelVerwaltung"
      - "traefik.http.routers.kegelVerwaltung.tls.certresolver=production"
    networks:
      - traefik-net

networks:
  traefik-net:
    external: true
